[
    {
        "id": 1,
        "title": "Wasureji No Kotonoha",
        "artist": "Mirai Kodai Orchestra & Valshe",
        "files": {
            "flac": "Wasureji no Kotonoha.flac",
            "ogg": "Wasureji no Kotonoha.ogg"
        }
    }
]